*.swo
*.swp
bin
gen
local.properties
tools/proguard.jar
tools/scala-compiler.jar
tools/scala-library.jar
res/layout/mapview.xml
res/values/translators.xml
res/values/version.xml
tags
translations/aprsdroid/
translations/launchpad-*.tar.gz
wiki/
