<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.aprsdroid.app"
      android:versionCode="13"
      android:versionName="1.2.2"
      android:installLocation="auto">

    <uses-sdk android:minSdkVersion="3"
	android:targetSdkVersion="8" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application android:label="@string/app_name" android:icon="@drawable/icon">
	<uses-library android:name="com.google.android.maps" />

        <activity android:name=".APRSdroid"
		android:configChanges="orientation|keyboardHidden"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
	<activity android:name=".LogActivity" android:label="@string/app_name"
		android:launchMode="singleTop"
		android:configChanges="orientation|keyboardHidden"
		/>
	<activity android:name=".HubActivity" android:label="@string/app_hub"
		android:launchMode="singleTop"
		android:configChanges="orientation|keyboardHidden"
		/>
	<activity android:name=".ConversationsActivity" android:label="@string/app_messages"
		android:launchMode="singleTop"
		android:configChanges="orientation|keyboardHidden"
		/>
	<activity android:name=".StationActivity" android:label="@string/app_sta"
		android:configChanges="orientation|keyboardHidden"
		/>
	<activity android:name=".MessageActivity" android:label="@string/app_sta"
		android:configChanges="orientation|keyboardHidden"
		android:alwaysRetainTaskState="true"
		/>
	<activity android:name=".PrefsAct" android:label="@string/app_prefs" />
	<activity android:name=".BackendPrefs" android:label="@string/app_prefs" />
	<activity android:name=".LocationPrefs" android:label="@string/app_prefs" 
		android:launchMode="singleTop"
		/>
        <activity android:name=".MapAct" android:label="@string/app_map"
		android:launchMode="singleTop"
		android:configChanges="orientation|keyboardHidden"
		android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
		<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
	</activity>
	<service android:name=".AprsService" android:label="@string/aprsservice">
	    <intent-filter>
		<action android:name="org.aprsdroid.app.SERVICE" />
		<action android:name="org.aprsdroid.app.ONCE" />
	    </intent-filter>
	</service>
    </application>
</manifest> 
